<p>product---inicial</p>
<!-- 
<div class="product-catalog-container">
  <div class="sidebar-filters">
    <h3>Filtros</h3>
    <mat-form-field appearance="outline">
      <mat-label>Buscar producto</mat-label>
      <input matInput placeholder="Ej. Zapatillas">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <h4>Categorías</h4>
    <ul>
      <li>Ropa</li>
      <li>Calzado</li>
      <li>Accesorios</li>
    </ul>
    <h4>Precio</h4>
    <mat-slider min="0" max="1000" step="10" value="500"></mat-slider>
  </div>
  <div class="product-list-area">
    <h2>Todos nuestros productos</h2>
    <app-product-list></app-product-list> </div>
</div>
 -->
<!--
<mat-card class="product-card" [routerLink]="['/products', product.id]">
  <img mat-card-image [src]="product.imageUrl" [alt]="product.name">
  <mat-card-content>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.category | titlecase }}</mat-card-subtitle>
    <p class="price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
    <p class="description">{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" (click)="onAddToCart(); $event.stopPropagation()">
      <mat-icon>add_shopping_cart</mat-icon> Añadir al Carrito
    </button>
  </mat-card-actions>
</mat-card>
-->

